*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    min-height: 100%;
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    font-family: 'Slabo 27px', serif;
    background-repeat: repeat;
  }
  body {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    padding: 0 16px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  a {
    color: #333;
  }

  a:hover {
    color: red;
  }

  .text-center {
    text-align: center;
  }

  .title {
    font-size: 22px;
  }

  .title-sm {
    font-size: 18px;
  }
  
  .mr-1 {
    margin-right: 5px;
  }
  
  .mr-2 {
    margin-right: 10px;
  }
  
  .mr-3 {
    margin-right: 15px;
  }
  
  .mr-4 {
    margin-right: 20px;
  }
  
  .mr-5 {
    margin-right: 25px;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  .pt-1 {
    padding-top: 5px;
  }
  
  .pt-2 {
    padding-top: 10px;
  }
  
  .pt-3 {
    padding-top: 15px;
  }
  
  .pt-4 {
    padding-top: 20px;
  }
  
  .pt-5 {
    padding-top: 25px;
  }
  
  .pb-1 {
    padding-bottom: 5px;
  }
  
  .pb-2 {
    padding-bottom: 10px;
  }
  
  .pb-3 {
    padding-bottom: 15px;
  }
  
  .pb-4 {
    padding-bottom: 20px;
  }
  
  .pb-5 {
    padding-bottom: 25px;
  }
  
  .mb-1 {
    margin-bottom: 5px;
  }
  
  .mb-2 {
    margin-bottom: 10px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .mb-4 {
    margin-bottom: 20px;
  }
  
  .mb-5 {
    margin-bottom: 25px;
  }
  
  .mt-1 {
    margin-top: 5px;
  }
  
  .mt-2 {
    margin-top: 10px;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  .mt-4 {
    margin-top: 20px;
  }
  
  .mt-5 {
    margin-top: 25px;
  }
  
  .flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .statistics-wrapper {
    z-index: 5;
    padding: 10px 16px;
    border-top: 1px solid #333;
    background-color: #fff;
    width: 100%;
  }

  .statistics-block {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .statistics-block__item {
    border-right: 1px solid #333;
    padding: 8px 18px;
  }

  .statistics-block__item:nth-child(1) {
    border-left: 1px solid #333;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .pagination button {
    margin: 5px;
    cursor: pointer;
  }

  .pagination button.is-active {
    background-color: red;
  }
  
  .users-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .sort-block {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sort-block__item {
    margin: 5px 10px;
    padding: 0 5px;
  }

  .card {
    width: calc(33.33% - 10px);
    min-width: 350px;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .card__title {
    font-size: 22px;
  }

  .card__text-item {
    font-size: 18px;
  }
  
  .card__top-row {
    display: flex;
  }
  
  .card__image {
    flex-shrink: 0;
    border: 1px solid #56626c;
  }

  .card__bottom-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }